<div class="simple-container">
  <mat-card>
    <mat-card-title class="chat_header">Web Chat 0.2</mat-card-title>
    <button mat-button disabled style="margin-left: 10px;">
      Changelog
    </button>

    <app-nickname-input></app-nickname-input>
    
    <mat-list (scroll)="onScroll($event)" #scrollableList>
      <ng-container @items *ngFor="let message of messages; let i = index">
        <mat-list-item>
          <img matListAvatar src="https://image.flaticon.com/icons/svg/149/149071.svg" alt="John Doe">
          <h3 matLine class="message_author"> {{ message.author }} </h3>
          <p matLine>
            <span> {{ message.content }} </span>
          </p>
          <span>{{ message.timestamp | date : 'HH:mm'}}</span>
        </mat-list-item>
        <mat-divider *ngIf="i + 1 < messages.length"></mat-divider>
      </ng-container>
    </mat-list>
    <div class="center-container">
      <button mat-mini-fab *ngIf="isScrolledManually" (click)="onScrollToBottom()" class="scrollToBottomFab">
        <mat-icon aria-hidden="false" aria-label="Scroll to bottom">keyboard_arrow_down</mat-icon>
      </button>
    </div>

    <app-message-input></app-message-input>
  </mat-card>
</div>